body,header,form {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}
body{
  background-color: #e3f6f5;
  color: #2d334a;
}
section.info {  
  border: 15px solid #e3f6f5;
  padding: 60px;
  border-radius: 25px;
  background-color: #fffffe;
}
section.card{
  padding: 25px;
  margin-top: 0;
  background-color: #fffffe;
}
header h1 {
  font-weight: bold;
  background-color: #e3f6f5;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-top: 0;
  padding: 15px;
  color: #272343;
}
h2 {
  font-weight: bold;
  text-align: center;
  background-color: #e3f6f5;
  padding: 10px;
  margin-bottom: 0;
  color: #272343;
}
.name input {
  padding: 5px 5px;
  margin: 0;
  margin-right: 25px;
  font-size: 30px;
  text-align: center;
  max-width: 15%;
  width: 100%;
  display: inline-block;
  border-radius: 20px;
}
div.pay {
  text-align: center;
  margin: 20px;  
}
.gender{
  font-size: 25px;
}
.gender input[type="radio"] {
  border: 0;
  width: 5%;
  height: 1.3em;
}
.pay input {
  font-size: 30px;
  padding: 10px 50px;
}
.gender label {
  margin-right: 20px;
  font-size: 25px;
}
.info1 input[type="email"]{
  width: 22%;
}
.info1 input{
  margin-right: 150px;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 20px;
  width: 10%;
}
.address input {
  max-width: 100%;
  width: 1200px;
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 40px;
}
::placeholder{
  font-size: 20px;
  text-align: center;
}
.dob input {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 25px;
}
.card select {
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 25px;
}
select {
  padding: 10px 90px;
  border-radius: 10px;
}
.cvv input[type="password"] {
  padding: 8px 5px;
  border-radius: 10px;
  width: 5%;
  text-align: center;
  font-size: 22px;
}
input[type="tel"] {
  padding: 10px 5px;
  border-radius: 10px;
  width: 20%;
  text-align: center;
}
@media screen and (max-width:1300px) {
  .name input{
  display: block;
  max-width: 100%;
  }
}
@media screen and (max-width:1286px){
  .info1 input {
    display: inline-block;
  }
}
@media screen and (max-width:640px){
  div.gender label{
    display: inline-block;
    margin:0;
  } 
}
